{% extends 'base.html' %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="post-container">
    <h2>{{ post.title }}</h2>
    <p>{{ post.preface }}</p>
    <p>{{ post.description }}</p>
  </div>
  <div class="separator-line"></div>

  <h2 class="comment-title">نظر تو برای من خیلی مهم است!</h2>
  <form action="/{{ post.id }}" method="POST" class="comment-form">
    {% csrf_token %}
    {{ commentForm.as_p }}
    <button type="submit">ارسال</button>
  </form>

{% endblock %}